body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #016f32;
    text-align: center;
    color: white;
    font-weight: bold;
}

h1{
    color: goldenrod;
}

#message-el{
    font-style: italic;
}

button{
    color: #016f32;
    background-color: goldenrod;
    width: 150px;
    font-weight: bold;
    border: none;
    border: none;
    padding: 4px 0;
    border-radius: 2px;
    margin-top: 4px;
    
}
.buttons{
display: flex;
flex-direction: column;
justify-self: center;
align-items: center;
}